{% extends "application/wrapper.html" %}

{% load static %}
{% block head %}

  <!-- Site Properties -->
  <link rel="stylesheet" type="text/css" href= "{% static 'fomantic-ui-dir/semantic/dist/components/reset.css' %}">
  <link rel="stylesheet" type="text/css" href= "{% static 'fomantic-ui-dir/semantic/dist/components/site.css' %}">

  <link rel="stylesheet" type="text/css" href= "{% static 'fomantic-ui-dir/semantic/dist/components/container.css' %}">
  <link rel="stylesheet" type="text/css" href= "{% static 'fomantic-ui-dir/semantic/dist/components/grid.css' %}"> 
  <link rel="stylesheet" type="text/css" href= "{% static 'fomantic-ui-dir/semantic/dist/components/header.css' %}">
  <link rel="stylesheet" type="text/css" href= "{% static 'fomantic-ui-dir/semantic/dist/components/image.css' %}">
  <link rel="stylesheet" type="text/css" href= "{% static 'fomantic-ui-dir/semantic/dist/components/menu.css' %}">

  <link rel="stylesheet" type="text/css" href= "{% static 'fomantic-ui-dir/semantic/dist/components/divider.css' %}">
  <link rel="stylesheet" type="text/css" href= "{% static 'fomantic-ui-dir/semantic/dist/components/segment.css' %}">
  <link rel="stylesheet" type="text/css" href= "{% static 'fomantic-ui-dir/semantic/dist/components/form.css' %}">
  <link rel="stylesheet" type="text/css" href= "{% static 'fomantic-ui-dir/semantic/dist/components/input.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'fomantic-ui-dir/semantic/dist/components/button.css' %}">
  <link rel="stylesheet" type="text/css" href= "{% static 'fomantic-ui-dir/semantic/dist/components/list.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'fomantic-ui-dir/semantic/dist/components/message.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'fomantic-ui-dir/semantic/dist/components/icon.css' %}">

  
  <link  rel="stylesheet" type="text/css" href= "{% static './fomantic-ui-dir/semantic/dist/components/form.css' %}">
  <link  rel="stylesheet" type="text/css" href= "{% static './fomantic-ui-dir/semantic/dist/components/transition.css' %}">

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            username: {
              identifier  : 'username',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
{% endblock %}



{% block content %}

{% if form.errors %}
<div class = 'ui middle aligned center aligned grid'>
  <div class = 'column'>
      <h2 class = 'ui image header'>Авторизация</h2>
      <form class="ui large form error" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class='ui stacked segment'>
          <div class ='field error'>
              <div class='ui left icon input'>
                  <i class = 'user icon'></i>
                  <input type="text" name="username" placeholder="E-mail адрес"> 
              </div>
          </div>
          <div class ='field error'>
              <div class='ui left icon input'>
                  <i class = 'lock icon'></i>
                  <input  type="password" name="password" placeholder="Пароль"> 
              </div>
          </div>
      <div class="ui error message"></div>
      
          
      </div>
      <div class="ui fluid large submit black button">Войти</div>
      <input type="hidden" name="next" value="{{ next }}">

      
      </form> 

    
  </div>
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Пожалуйста, авторизуйтесь, чтобы видеть данный пост.</p>
    {% endif %}
{% endif %}
<div class = 'ui middle aligned center aligned grid'>
    <div class = 'column'>
        <h2 class = 'ui image header'>Авторизация</h2>
        <form class="ui large form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class='ui stacked segment'>
            <div class ='field'>
                <div class='ui left icon input'>
                    <i class = 'user icon'></i>
                    <input type="text" name="username" placeholder="E-mail адрес"> 
                </div>
            </div>
            <div class ='field'>
                <div class='ui left icon input'>
                    <i class = 'lock icon'></i>
                    <input type="password" name="password" placeholder="Пароль"> 
                </div>
            </div>
        
        
            
        </div>
        <div class="ui fluid large submit black button">Войти</div>
        <input type="hidden" name="next" value="{{ next }}">

        <div class="ui error message"></div>
        </form>

        
    </div>
</div>
{% endblock %}